.main-about {
  background: #f7eee6;
  padding-top: 2em;
  padding-bottom: 5em;
}

.headline {
  position: relative;
  padding-top: 15em;
  text-align: center;
}

.highlight-intro {
  position: absolute;
  font-family: 'northrowregular';
  font-size: 6rem;
  font-weight: bold;
  color: rgba(204, 175, 175, 0.6);
  text-transform: uppercase;
  top: 35%;
  left: 0%;
  width: 100%;
  display: block;
}

.about__content {
  padding-top: 2em;
  text-align: center;
}

.about__content p {
  padding-bottom: 1em;
}

.paragraph-mission {
  padding-top: 2em;
}

.paragraph-about {
  padding-top: 2em;
}

.paragraph-vita {
  padding-top: 2em;
}