.main-about {
  padding-top: 2em;
  padding-bottom: 5em;
}

.paragraph-individualität+.paragraph-individualität {
  margin-top: 1em;
}

.paragraph-detail+.paragraph-detail {
  margin-top: 1em;
}

.paragraph-leidenschaft+.paragraph-leidenschaft {
  margin-top: 1em;
}