.main {
  background: #f7eee6;
}

.headline {
  position: relative;
  padding-top: 28em;
}

.highlight-intro {
  position: absolute;
  font-family: 'northrowregular';
  font-size: 6rem;
  font-weight: bold;
  color: rgba(204, 175, 175, 0.6);
  text-transform: uppercase;
  top: 30%;
  left: 18%;
  width: 100%;
  display: block;
}

.content-agb {
  height: 100vh;
}