.bewertung {
  /* background: #f5f6f3;
  background: #8d8d8d;
  color: #fff; */
  width: 30%;
  padding: 1.5em 0;
}

.bewertung_img {}

.bewertung__name {
  font-weight: 600;
}

.bewertung__date,
.bewertung__content {
  font-size: 0.8rem;
  font-weight: 300;
}

.bewertung__stars {}