.header-content-calligraphy {
  /* height: 100vh; */
}

.header-part-calligraphy {
  width: 30%;
  justify-content: center;
}

.header-calligraphy__part + .header-calligraphy__part {
  margin-left: 1em;
}

.header-calligraphy__part img {
  max-width: 50%;
}

.header-part-calligraphy__headline {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.header-part-calligraphy__text {
  font-size: 0.7rem;
}

.main-text-calligraphy {
  padding-top: 4em;
}

.main-text-calligraphy h1 {
  padding-bottom: 1.5em;
}

.main-text-calligraphy p {
  padding-bottom: 1em;
}

.buttons-calligraphy {
  margin-top: 2em;
  margin-bottom: 4em;
}

.text-box {
  width: 50%;
}

.text-box + .text-box {
  margin-left: 3em;
}
