/* HEADER */

.header-part-calligraphy {
  width: 30%;
  text-align: center;
}

.calligraphy-image {
  width: 40%;
  align-self: center;
}

.header-part-calligraphy__headline {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.header-part-calligraphy__text {
  font-size: 0.7rem;
}



.main-text-calligraphy {
  padding-top: 4em;
}

.main-text-calligraphy h1 {
  padding-bottom: 1.5em;
  text-align: center;
  margin-bottom: 1em;
}

.main-text-calligraphy p {
  padding-bottom: 1em;
}


@media (min-width: 900px) {

  .calligraphy-text-container {
    width: 50%;
  }
}