.header-content {
  /* height: 100vh; */
}

.header-part {
  width: 30%;
  justify-content: center;
}

.header__part+.header__part {
  margin-left: 1em;
}

.header__part img {
  max-width: 50%;
  display: block;
}

.header-part__headline {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.header-part__text {
  font-size: 0.7rem;
}

.main-text {
  padding: 5em 0;
}

.main-text h1,
.main-text p {
  padding-bottom: 1em;
}