/* GENERAL STYLE */

.main-contact {
  background: #f7eee6;
  width: 100vw;
  height: 100vh;
}

.content-contact {
  padding: 15em 0em;
}

.container-contact {
  padding: 5em 0 5em 0;
  justify-content: space-between;
}

.info {
  width: 50%;
  padding-right: 2em;
}

/* CONTACT */

.content-contact {
  justify-content: space-between;
}

.contact {
  padding: 0 0 2em 0;
}

.contact h2 {
  padding: 0;
}

.contact-details {
  list-style: none;
  padding: 0;
  margin-bottom: 2em;
}


/* OPEN-HOURS */

.open-hours {
  text-align: left;
  /* margin: 2em 0 1em 0; */
}

.open-hours h2 {
  padding: 0;
  /* margin-bottom: 1em; */
}

.open {
  list-style: none;
  padding: 0;
  /* margin-bottom: 2em; */
}

.special {
  font-size: 0.8rem;
  padding: 5em 0 0 0;
}


/* CI MAPS */

.location {
  position: relative;
  width: 50%;
  padding-left: 10%;
  margin: 0;
}

.location-maps {
  width: 100%;
}

.google-maps {
  margin: 0;
  padding: 0;
}

.location img {
  margin: 0 0 0 auto;
}

.maps {
  text-align: right;
  position: absolute;
  box-shadow: 2px 2px 10px 0px rgb(209, 208, 208);
  margin: 0;
  width: 100%;
}

.mark-location {
  width: 2em;
  position: absolute;
  top: 13.5em;
  left: 17.7em;
}

.location-name {
  color: #8b5c4a;
}

/* GOOGLE MAPS LINK */

.link-maps {
  text-align: right;
}

.link-google-maps {
  color: #5f9ae4;
  font-size: 0.8em;
  text-decoration: none;
  margin: 0;
  padding: 0;
}


/* MEDIAQUERIES */

@media (min-width: 600px) {}

@media (min-width: 900px) {}

@media (min-width: 1200px) {}

@media (min-width: 1800px) {}