.main-contact {
  padding-top: 2em;
  padding-bottom: 5em;
}

.main-contact h1,
.main-contact h2,
.main-contact h3 {
  padding: 1em 0;
}

.main-contact p {
  padding-bottom: 1em;
  line-height: 1.6;
}