.main-contact {
  padding-top: 2em;
  padding-bottom: 5em;
}

.main-contact p {
  padding-bottom: 1em;
  line-height: 1.6;
}

.contact {
  margin-bottom: 2em;
}

.open-hours h2 {
  margin-bottom: 1em;
}

.open {
  list-style: none;
  padding: 0;
  margin-bottom: 2em;
}

.special {
  font-size: 0.8rem;
}