.main-datenschutz {
  padding-top: 2em;
  padding-bottom: 5em;
}

.section {
  padding: 0.5em 0;
}

.main-datenschutz h1,
.main-datenschutz h2,
.main-datenschutz h3 {
  padding: 1em 0;
}

.main-datenschutz p {
  padding-bottom: 1em;
}