.main-datenschutz {
  padding-top: 18em;
  padding-bottom: 5em;
  position: relative;
  background: #f7eee6;
}

.highlight-hl {
  position: absolute;
  font-family: 'northrowregular';
  font-size: 9rem;
  font-weight: bold;
  color: rgba(204, 175, 175, 0.6);
  text-transform: capitalize;
  top: 1.5%;
  right: -12%;
  width: 100%;
  display: block;
}

.section {
  padding: 1.5em 0;
}

.main-datenschutz h1,
.main-datenschutz h2,
.main-datenschutz h3 {
  padding: 1em 0;
}

.main-datenschutz p {
  padding-bottom: 1em;
}