.main-home {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 5em;
}

.primary-content {
  display: block;
  width: 100%;
}

.service {
  display: block;
  width: 100%;
}

.service a {
  display: block;
  width: 100%;
}

.service-image {
  width: 30%;
  border: 1px solid #b59b87;
}

.extensions-image {
  position: relative;
}

.extensions-logo {
  position: absolute;
  top: 100;
  left: 0;
}
