.main-home {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 5em;
}

.extensions-image {
  width: 100vw;
  margin: 1em 0;
}

.meaning {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.primary-content {
  display: block;
  width: 100%;
}

.service {
  display: block;
  width: 100%;
}

.service a {
  display: block;
  width: 100%;
}

.service-image {
  width: 30%;
  border: 1px solid #b59b87;
}