/* GENERAL STYLING */

.container-prices {
  /* background: #f7eee6; */
  background-color: #f7eee6;
  /* background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23ccafaf' fill-opacity='0.16' fill-rule='evenodd'/%3E%3C/svg%3E"); */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ccafaf' fill-opacity='0.11'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.main-prices {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em 0 5em 0;
  align-items: center;
  position: relative;
}

/* STYLING GRID */

/* .intro-prices h1 {
  font-family: "Dancing Script", cursive;
  color: #b59b87;
  font-size: 5em;
  font-weight: lighter;
  margin: 0;
  padding: 0;
} */

.main-prices h1 {
  padding-bottom: 1em;
  text-align: center;
}

.main-prices h2 {
  font-family: 'northrowregular';
  /* font-family: 'Ruthie', cursive; */
  font-size: 9rem;
  /* color: #d3b7a7; */
  /* color: rgb(88, 141, 168, 0.8); */
  /* color: rgba(59, 180, 193, 0.6); */
  color: rgba(204, 175, 175, 0.6);
  text-transform: capitalize;
  text-align: left;
}

​ .main-prices h3 {
  padding: 1.5em 0 0.2em 0;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.main-prices p {
  padding: 1.5em 0 2em 0;
  font-weight: bolder;
  font-size: 1rem;
  /* color: rgb(156, 154, 154); */
}

.h2-cut {
  padding-bottom: 0;
}

.small,
.span {
  font-size: 0.5rem;
}

.thin {
  font-weight: lighter;
}

.kleingedruckt {
  font-size: 0.5rem;
  text-align: end;
  padding: 0 4em 1em 2em;
}

.euro {
  font-size: 0.8rem;
}

.cut,
.calligraphy,
.next-generation,
.color,
.henne,
.highlights,
.balayage,
.styling,
.treatment,
.care {
  padding-bottom: 0em;
}


/* GRID LAYOUTS*/

/* CUT */

.h2-cut {
  position: absolute;
  top: -1%;
  right: 10%;
  width: 100%;
  display: block;
}

.cut-container {
  padding: 18em 0 3em 0;
}

.cut {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: 0.5fr repeat(6, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12"
    "detail-13 detail-14 detail-15 detail-16"
    "detail-17 detail-18 detail-19 detail-20"
    "detail-21 detail-22 detail-23 detail-24";
}

.cut-headline-1 {
  grid-area: headline-1;
  justify-self: end;
  align-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.cut-headline-2 {
  grid-area: headline-2;
  justify-self: end;
  align-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.cut-headline-3 {
  grid-area: headline-3;
  justify-self: end;
  align-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.cut-detail-1 {
  grid-area: detail-1;
  align-self: center;
}

.cut-detail-2 {
  grid-area: detail-2;
  justify-self: end;
  align-self: center;
}

.cut-detail-3 {
  grid-area: detail-3;
  justify-self: end;
  align-self: center;
}

.cut-detail-4 {
  grid-area: detail-4;
  justify-self: end;
  align-self: center;
}

.cut-detail-5 {
  grid-area: detail-5;
  align-self: center;
}

.cut-detail-6 {
  grid-area: detail-6;
  justify-self: end;
  align-self: center;
}

.cut-detail-7 {
  grid-area: detail-7;
  justify-self: end;
  align-self: center;
}

.cut-detail-8 {
  grid-area: detail-8;
  justify-self: end;
  align-self: center;
}

.cut-detail-9 {
  grid-area: detail-9;
  align-self: center;
}

.cut-detail-10 {
  grid-area: detail-10;
  justify-self: end;
  align-self: center;
}

.cut-detail-11 {
  grid-area: detail-11;
  justify-self: end;
  align-self: center;
}

.cut-detail-12 {
  grid-area: detail-12;
  justify-self: end;
  align-self: center;
}

.cut-detail-13 {
  grid-area: detail-13;
  align-self: center;
}

.cut-detail-14 {
  grid-area: detail-14;
  justify-self: end;
  align-self: center;
}

.cut-detail-15 {
  grid-area: detail-15;
  justify-self: end;
  align-self: center;
}

.cut-detail-16 {
  grid-area: detail-16;
  justify-self: end;
  align-self: center;
}

.cut-detail-17 {
  grid-area: detail-17;
  align-self: center;
}

.cut-detail-18 {
  grid-area: detail-18;
  justify-self: end;
  align-self: center;
}

.cut-detail-19 {
  grid-area: detail-19;
  justify-self: end;
  align-self: center;
}

.cut-detail-20 {
  grid-area: detail-20;
  justify-self: end;
  align-self: center;
}

.cut-detail-21 {
  grid-area: detail-21;
  align-self: center;
}

.cut-detail-22 {
  grid-area: detail-22;
  justify-self: end;
  align-self: center;
}

.cut-detail-23 {
  grid-area: detail-23;
  justify-self: end;
  align-self: center;
}

.cut-detail-24 {
  grid-area: detail-24;
  justify-self: end;
  align-self: center;
}

/* COLOR */

.h2-color {
  position: absolute;
  top: 18%;
  right: 10%;
  width: 100%;
  display: block;
}

.color-container {
  padding: 7em 0 3em 0;
}

.color {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: 0.5fr repeat(3, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12"
    "detail-13 detail-14 detail-15 detail-16";
}

.color-headline-1 {
  grid-area: headline-1;
  justify-self: end;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.color-headline-2 {
  grid-area: headline-2;
  justify-self: end;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.color-headline-3 {
  grid-area: headline-3;
  justify-self: end;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.color-detail-1 {
  grid-area: detail-1;
}

.color-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.color-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.color-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.color-detail-5 {
  grid-area: detail-5;
}

.color-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.color-detail-7 {
  grid-area: detail-7;
  justify-self: end;
}

.color-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.color-detail-9 {
  grid-area: detail-9;
}

.color-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.color-detail-11 {
  grid-area: detail-11;
  justify-self: end;
}

.color-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

.color-detail-13 {
  grid-area: detail-13;
}

.color-detail-14 {
  grid-area: detail-14;
  justify-self: end;
}

.color-detail-15 {
  grid-area: detail-15;
  justify-self: end;
}

.color-detail-16 {
  grid-area: detail-16;
  justify-self: end;
}

/* HENNE */

.henne {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: 1fr;
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    /* "... headline-1 headline-2 headline-3" */
    "detail-1 detail-2 detail-3 detail-4";
}

/* .henne-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.henne-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.henne-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
} */

.henne-detail-1 {
  grid-area: detail-1;
}

.henne-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.henne-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.henne-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

/* HIGHLIGHTS */

.highlights {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    /* "... headline-1 headline-2 headline-3" */
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12";
}

/* .highlights-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.highlights-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.highlights-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
} */

.highlights-detail-1 {
  grid-area: detail-1;
}

.highlights-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.highlights-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.highlights-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.highlights-detail-5 {
  grid-area: detail-5;
}

.highlights-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.highlights-detail-7 {
  grid-area: detail-7;
  justify-self: end;
}

.highlights-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.highlights-detail-9 {
  grid-area: detail-9;
}

.highlights-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.highlights-detail-11 {
  grid-area: detail-11;
  justify-self: end;
}

.highlights-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

/* BALAYAGE */

.balayage {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    /* "... headline-1 headline-2 headline-3" */
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12";
}

/* .balayage-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.balayage-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.balayage-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
} */

.balayage-detail-1 {
  grid-area: detail-1;
}

.balayage-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.balayage-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.balayage-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.balayage-detail-5 {
  grid-area: detail-5;
}

.balayage-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.balayage-detail-7 {
  grid-area: detail-7;
  justify-self: end;
}

.balayage-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.balayage-detail-9 {
  grid-area: detail-9;
}

.balayage-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.balayage-detail-11 {
  grid-area: detail-11;
  justify-self: end;
}

.balayage-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

/* STYLING */

.h2-styling {
  position: absolute;
  top: 47%;
  right: 10%;
  width: 100%;
  display: block;
}

.styling-container {
  padding: 11em 0 3em 0;
}

.styling {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: 0.5fr repeat(3, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12";
}

.styling-headline-1 {
  grid-area: headline-1;
  justify-self: end;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.styling-headline-2 {
  grid-area: headline-2;
  justify-self: end;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.styling-headline-3 {
  grid-area: headline-3;
  justify-self: end;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.styling-detail-1 {
  grid-area: detail-1;
}

.styling-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.styling-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.styling-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.styling-detail-5 {
  grid-area: detail-5;
}

.styling-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.styling-detail-7 {
  grid-area: detail-7;
  justify-self: end;
}

.styling-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.styling-detail-9 {
  grid-area: detail-9;
}

.styling-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.styling-detail-11 {
  grid-area: detail-11;
  justify-self: end;
}

.styling-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

/* TREATMENT */

/* .h2-treatment {
  position: absolute;
  top: 59.5%;
  right: 10%;
  width: 100%;
  display: block;
}

.treatment-container {
  padding: 11em 0 3em 0;
}

.treatment {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: 0.5fr repeat(5, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12"
    "detail-13 detail-14 detail-15 detail-16"
    "detail-17 detail-18 detail-19 detail-20";
}

.treatment-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #f7eee6;
}

.treatment-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #f7eee6;
}

.treatment-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #f7eee6;
}

.treatment-detail-1 {
  grid-area: detail-1;
}

.treatment-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.treatment-detail-3 {
  grid-area: detail-3;
}

.treatment-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.treatment-detail-5 {
  grid-area: detail-5;
}

.treatment-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.treatment-detail-7 {
  grid-area: detail-7;
}

.treatment-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.treatment-detail-9 {
  grid-area: detail-9;
}

.treatment-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.treatment-detail-11 {
  grid-area: detail-11;
}

.treatment-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

.treatment-detail-13 {
  grid-area: detail-13;
}

.treatment-detail-14 {
  grid-area: detail-14;
  justify-self: end;
}

.treatment-detail-15 {
  grid-area: detail-15;
}

.treatment-detail-16 {
  grid-area: detail-16;
  justify-self: end;
}

.treatment-detail-17 {
  grid-area: detail-17;
}

.treatment-detail-18 {
  grid-area: detail-18;
  justify-self: end;
}

.treatment-detail-19 {
  grid-area: detail-19;
}

.treatment-detail-20 {
  grid-area: detail-20;
  justify-self: end;
} */

/* VITAL RITUAL */

.vital {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(5, 15%);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    /* "... headline-1 headline-2 headline-3" */
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12"
    "detail-13 detail-14 detail-15 detail-16"
    "detail-17 detail-18 detail-19 detail-20";
}

/* .vital-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.vital-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.vital-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
} */

.vital-detail-1 {
  grid-area: detail-1;
}

.vital-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.vital-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.vital-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.vital-detail-5 {
  grid-area: detail-5;
}

.vital-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.vital-detail-7 {
  grid-area: detail-7;
  justify-self: end;
}

.vital-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.vital-detail-9 {
  grid-area: detail-9;
}

.vital-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.vital-detail-11 {
  grid-area: detail-11;
  justify-self: end;
}

.vital-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

.vital-detail-13 {
  grid-area: detail-13;
}

.vital-detail-14 {
  grid-area: detail-14;
  justify-self: end;
}

.vital-detail-15 {
  grid-area: detail-15;
  justify-self: end;
}

.vital-detail-16 {
  grid-area: detail-16;
  justify-self: end;
}

.vital-detail-17 {
  grid-area: detail-17;
}

.vital-detail-18 {
  grid-area: detail-18;
  justify-self: end;
}

.vital-detail-19 {
  grid-area: detail-19;
  justify-self: end;
}

.vital-detail-20 {
  grid-area: detail-20;
  justify-self: end;
}

/* DETOX RITUAL */

.detox {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(5, 15%);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    /* "... headline-1 headline-2 headline-3" */
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12"
    "detail-13 detail-14 detail-15 detail-16"
    "detail-17 detail-18 detail-19 detail-20";
}

/* .detox-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.detox-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.detox-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
} */

.detox-detail-1 {
  grid-area: detail-1;
}

.detox-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.detox-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.detox-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.detox-detail-5 {
  grid-area: detail-5;
}

.detox-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.detox-detail-7 {
  grid-area: detail-7;
  justify-self: end;
}

.detox-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.detox-detail-9 {
  grid-area: detail-9;
}

.detox-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.detox-detail-11 {
  grid-area: detail-11;
  justify-self: end;
}

.detox-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

.detox-detail-13 {
  grid-area: detail-13;
}

.detox-detail-14 {
  grid-area: detail-14;
  justify-self: end;
}

.detox-detail-15 {
  grid-area: detail-15;
  justify-self: end;
}

.detox-detail-16 {
  grid-area: detail-16;
  justify-self: end;
}

.detox-detail-17 {
  grid-area: detail-17;
}

.detox-detail-18 {
  grid-area: detail-18;
  justify-self: end;
}

.detox-detail-19 {
  grid-area: detail-19;
  justify-self: end;
}

.detox-detail-20 {
  grid-area: detail-20;
  justify-self: end;
}

/* PEELING RITUAL */

.peeling {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(5, 15%);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    /* "... headline-1 headline-2 headline-3" */
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12"
    "detail-13 detail-14 detail-15 detail-16"
    "detail-17 detail-18 detail-19 detail-20";
}

/* .peeling-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.peeling-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.peeling-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
} */

.peeling-detail-1 {
  grid-area: detail-1;
}

.peeling-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.peeling-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.peeling-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.peeling-detail-5 {
  grid-area: detail-5;
}

.peeling-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.peeling-detail-7 {
  grid-area: detail-7;
  justify-self: end;
}

.peeling-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.peeling-detail-9 {
  grid-area: detail-9;
}

.peeling-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.peeling-detail-11 {
  grid-area: detail-11;
  justify-self: end;
}

.peeling-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

.peeling-detail-13 {
  grid-area: detail-13;
}

.peeling-detail-14 {
  grid-area: detail-14;
  justify-self: end;
}

.peeling-detail-15 {
  grid-area: detail-15;
  justify-self: end;
}

.peeling-detail-16 {
  grid-area: detail-16;
  justify-self: end;
}

.peeling-detail-17 {
  grid-area: detail-17;
}

.peeling-detail-18 {
  grid-area: detail-18;
  justify-self: end;
}

.peeling-detail-19 {
  grid-area: detail-19;
  justify-self: end;
}

.peeling-detail-20 {
  grid-area: detail-20;
  justify-self: end;
}

/* SPEACIAL TREATMENT */

.special {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(5, 15%);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    /* "... headline-1 headline-2 headline-3" */
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12"
    "detail-13 detail-14 detail-15 detail-16"
    "detail-17 detail-18 detail-19 detail-20";
}

/* .special-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.special-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.special-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
} */

.special-detail-1 {
  grid-area: detail-1;
}

.special-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.special-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.special-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.special-detail-5 {
  grid-area: detail-5;
}

.special-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.special-detail-7 {
  grid-area: detail-7;
  justify-self: end;
}

.special-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.special-detail-9 {
  grid-area: detail-9;
}

.special-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.special-detail-11 {
  grid-area: detail-11;
  justify-self: end;
}

.special-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

.special-detail-13 {
  grid-area: detail-13;
}

.special-detail-14 {
  grid-area: detail-14;
  justify-self: end;
}

.special-detail-15 {
  grid-area: detail-15;
  justify-self: end;
}

.special-detail-16 {
  grid-area: detail-16;
  justify-self: end;
}

.special-detail-17 {
  grid-area: detail-17;
}

.special-detail-18 {
  grid-area: detail-18;
  justify-self: end;
}

.special-detail-19 {
  grid-area: detail-19;
  justify-self: end;
}

.special-detail-20 {
  grid-area: detail-20;
  justify-self: end;
}

/* OEL BEHANDLUNG */

.oil {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(5, 15%);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    /* "... headline-1 headline-2 headline-3" */
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12"
    "detail-13 detail-14 detail-15 detail-16"
    "detail-17 detail-18 detail-19 detail-20";
}

/* .oil-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.oil-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.oil-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
} */

.oil-detail-1 {
  grid-area: detail-1;
}

.oil-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.oil-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.oil-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.oil-detail-5 {
  grid-area: detail-5;
}

.oil-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.oil-detail-7 {
  grid-area: detail-7;
  justify-self: end;
}

.oil-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.oil-detail-9 {
  grid-area: detail-9;
}

.oil-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.oil-detail-11 {
  grid-area: detail-11;
  justify-self: end;
}

.oil-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

.oil-detail-13 {
  grid-area: detail-13;
}

.oil-detail-14 {
  grid-area: detail-14;
  justify-self: end;
}

.oil-detail-15 {
  grid-area: detail-15;
  justify-self: end;
}

.oil-detail-16 {
  grid-area: detail-16;
  justify-self: end;
}

.oil-detail-17 {
  grid-area: detail-17;
}

.oil-detail-18 {
  grid-area: detail-18;
  justify-self: end;
}

.oil-detail-19 {
  grid-area: detail-19;
  justify-self: end;
}

.oil-detail-20 {
  grid-area: detail-20;
  justify-self: end;
}


/* CARE */

.h2-care {
  position: absolute;
  top: 74%;
  right: 10%;
  width: 100%;
  display: block;
}

.care-container {
  padding: 11em 0 3em 0;
}

.care {
  z-index: 2;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: 0.5fr repeat(7, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12"
    "detail-13 detail-14 detail-15 detail-16"
    "detail-17 detail-18 detail-19 detail-20"
    "detail-21 detail-22 detail-23 detail-24"
    "detail-25 detail-26 detail-27 detail-28";
}

.care-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #f7eee6;
}

.care-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #f7eee6;
}

.care-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #f7eee6;
}

.care-detail-1 {
  grid-area: detail-1;
}

.care-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.care-detail-3 {
  grid-area: detail-3;
}

.care-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.care-detail-5 {
  grid-area: detail-5;
}

.care-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.care-detail-7 {
  grid-area: detail-7;
}

.care-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.care-detail-9 {
  grid-area: detail-9;
}

.care-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.care-detail-11 {
  grid-area: detail-11;
}

.care-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

.care-detail-13 {
  grid-area: detail-13;
}

.care-detail-14 {
  grid-area: detail-14;
  justify-self: end;
}

.care-detail-15 {
  grid-area: detail-15;
}

.care-detail-16 {
  grid-area: detail-16;
  justify-self: end;
}

.care-detail-17 {
  grid-area: detail-17;
}

.care-detail-18 {
  grid-area: detail-18;
  justify-self: end;
}

.care-detail-19 {
  grid-area: detail-19;
}

.care-detail-20 {
  grid-area: detail-20;
  justify-self: end;
}

.care-detail-21 {
  grid-area: detail-21;
}

.care-detail-22 {
  grid-area: detail-22;
  justify-self: end;
}

.care-detail-23 {
  grid-area: detail-23;
}

.care-detail-24 {
  grid-area: detail-24;
  justify-self: end;
}

.care-detail-25 {
  grid-area: detail-25;
}

.care-detail-26 {
  grid-area: detail-26;
  justify-self: end;
}

.care-detail-27 {
  grid-area: detail-27;
}

.care-detail-28 {
  grid-area: detail-28;
  justify-self: end;
}