/* GRID LAYOUTS*/

/* CUT */

.cut {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: 0.5fr repeat(6, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12"
    "detail-13 detail-14 detail-15 detail-16"
    "detail-17 detail-18 detail-19 detail-20"
    "detail-21 detail-22 detail-23 detail-24";
}

.cut-headline-1 {
  grid-area: headline-1;
  justify-self: end;
  align-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.cut-headline-2 {
  grid-area: headline-2;
  justify-self: end;
  align-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.cut-headline-3 {
  grid-area: headline-3;
  justify-self: end;
  align-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.cut-detail-1 {
  grid-area: detail-1;
  align-self: center;
}

.cut-detail-2 {
  grid-area: detail-2;
  justify-self: end;
  align-self: center;
}

.cut-detail-3 {
  grid-area: detail-3;
  justify-self: end;
  align-self: center;
}

.cut-detail-4 {
  grid-area: detail-4;
  justify-self: end;
  align-self: center;
}

.cut-detail-5 {
  grid-area: detail-5;
  align-self: center;
}

.cut-detail-6 {
  grid-area: detail-6;
  justify-self: end;
  align-self: center;
}

.cut-detail-7 {
  grid-area: detail-7;
  justify-self: end;
  align-self: center;
}

.cut-detail-8 {
  grid-area: detail-8;
  justify-self: end;
  align-self: center;
}

.cut-detail-9 {
  grid-area: detail-9;
  align-self: center;
}

.cut-detail-10 {
  grid-area: detail-10;
  justify-self: end;
  align-self: center;
}

.cut-detail-11 {
  grid-area: detail-11;
  justify-self: end;
  align-self: center;
}

.cut-detail-12 {
  grid-area: detail-12;
  justify-self: end;
  align-self: center;
}

.cut-detail-13 {
  grid-area: detail-13;
  align-self: center;
}

.cut-detail-14 {
  grid-area: detail-14;
  justify-self: end;
  align-self: center;
}

.cut-detail-15 {
  grid-area: detail-15;
  justify-self: end;
  align-self: center;
}

.cut-detail-16 {
  grid-area: detail-16;
  justify-self: end;
  align-self: center;
}

.cut-detail-17 {
  grid-area: detail-17;
  align-self: center;
}

.cut-detail-18 {
  grid-area: detail-18;
  justify-self: end;
  align-self: center;
}

.cut-detail-19 {
  grid-area: detail-19;
  justify-self: end;
  align-self: center;
}

.cut-detail-20 {
  grid-area: detail-20;
  justify-self: end;
  align-self: center;
}

.cut-detail-21 {
  grid-area: detail-21;
  align-self: center;
}

.cut-detail-22 {
  grid-area: detail-22;
  justify-self: end;
  align-self: center;
}

.cut-detail-23 {
  grid-area: detail-23;
  justify-self: end;
  align-self: center;
}

.cut-detail-24 {
  grid-area: detail-24;
  justify-self: end;
  align-self: center;
}

/* COLOR */

.color {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: 0.5fr repeat(3, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12"
    "detail-13 detail-14 detail-15 detail-16";
}

.color-headline-1 {
  grid-area: headline-1;
  justify-self: end;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.color-headline-2 {
  grid-area: headline-2;
  justify-self: end;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.color-headline-3 {
  grid-area: headline-3;
  justify-self: end;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.color-detail-1 {
  grid-area: detail-1;
}

.color-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.color-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.color-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.color-detail-5 {
  grid-area: detail-5;
}

.color-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.color-detail-7 {
  grid-area: detail-7;
  justify-self: end;
}

.color-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.color-detail-9 {
  grid-area: detail-9;
}

.color-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.color-detail-11 {
  grid-area: detail-11;
  justify-self: end;
}

.color-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

.color-detail-13 {
  grid-area: detail-13;
}

.color-detail-14 {
  grid-area: detail-14;
  justify-self: end;
}

.color-detail-15 {
  grid-area: detail-15;
  justify-self: end;
}

.color-detail-16 {
  grid-area: detail-16;
  justify-self: end;
}

/* HENNE */

.henne {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: 0.5fr 1fr;
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    /* "... headline-1 headline-2 headline-3" */
    "detail-1 detail-2 detail-3 detail-4";
}

/* .henne-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.henne-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.henne-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
} */

.henne-detail-1 {
  grid-area: detail-1;
}

.henne-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.henne-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.henne-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

/* HIGHLIGHTS */

.highlights {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    /* "... headline-1 headline-2 headline-3" */
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12";
}

/* .highlights-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.highlights-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.highlights-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
} */

.highlights-detail-1 {
  grid-area: detail-1;
}

.highlights-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.highlights-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.highlights-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.highlights-detail-5 {
  grid-area: detail-5;
}

.highlights-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.highlights-detail-7 {
  grid-area: detail-7;
  justify-self: end;
}

.highlights-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.highlights-detail-9 {
  grid-area: detail-9;
}

.highlights-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.highlights-detail-11 {
  grid-area: detail-11;
  justify-self: end;
}

.highlights-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

/* BALAYAGE */

.balayage {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    /* "... headline-1 headline-2 headline-3" */
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12";
}

/* .balayage-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.balayage-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.balayage-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
} */

.balayage-detail-1 {
  grid-area: detail-1;
}

.balayage-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.balayage-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.balayage-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.balayage-detail-5 {
  grid-area: detail-5;
}

.balayage-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.balayage-detail-7 {
  grid-area: detail-7;
  justify-self: end;
}

.balayage-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.balayage-detail-9 {
  grid-area: detail-9;
}

.balayage-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.balayage-detail-11 {
  grid-area: detail-11;
  justify-self: end;
}

.balayage-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

/* STYLING */

.styling {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: 0.5fr repeat(3, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12";
}

.styling-headline-1 {
  grid-area: headline-1;
  justify-self: end;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.styling-headline-2 {
  grid-area: headline-2;
  justify-self: end;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.styling-headline-3 {
  grid-area: headline-3;
  justify-self: end;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(201, 200, 200);
}

.styling-detail-1 {
  grid-area: detail-1;
}

.styling-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.styling-detail-3 {
  grid-area: detail-3;
  justify-self: end;
}

.styling-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.styling-detail-5 {
  grid-area: detail-5;
}

.styling-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.styling-detail-7 {
  grid-area: detail-7;
  justify-self: end;
}

.styling-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.styling-detail-9 {
  grid-area: detail-9;
}

.styling-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.styling-detail-11 {
  grid-area: detail-11;
  justify-self: end;
}

.styling-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

/* TREATMENT */

.treatment {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: 0.5fr repeat(5, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12"
    "detail-13 detail-14 detail-15 detail-16"
    "detail-17 detail-18 detail-19 detail-20";
}

.treatment-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #fff;
}

.treatment-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #fff;
}

.treatment-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #fff;
}

.treatment-detail-1 {
  grid-area: detail-1;
}

.treatment-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.treatment-detail-3 {
  grid-area: detail-3;
}

.treatment-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.treatment-detail-5 {
  grid-area: detail-5;
}

.treatment-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.treatment-detail-7 {
  grid-area: detail-7;
}

.treatment-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.treatment-detail-9 {
  grid-area: detail-9;
}

.treatment-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.treatment-detail-11 {
  grid-area: detail-11;
}

.treatment-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

.treatment-detail-13 {
  grid-area: detail-13;
}

.treatment-detail-14 {
  grid-area: detail-14;
  justify-self: end;
}

.treatment-detail-15 {
  grid-area: detail-15;
}

.treatment-detail-16 {
  grid-area: detail-16;
  justify-self: end;
}

.treatment-detail-17 {
  grid-area: detail-17;
}

.treatment-detail-18 {
  grid-area: detail-18;
  justify-self: end;
}

.treatment-detail-19 {
  grid-area: detail-19;
}

.treatment-detail-20 {
  grid-area: detail-20;
  justify-self: end;
}


/* CARE */

.care {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 55% repeat(3, 15%);
  grid-template-rows: 0.5fr repeat(7, 1fr);
  column-gap: 0.2em;
  row-gap: 0.2em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12"
    "detail-13 detail-14 detail-15 detail-16"
    "detail-17 detail-18 detail-19 detail-20"
    "detail-21 detail-22 detail-23 detail-24"
    "detail-25 detail-26 detail-27 detail-28";
}

.care-headline-1 {
  grid-area: headline-1;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #fff;
}

.care-headline-2 {
  grid-area: headline-2;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #fff;
}

.care-headline-3 {
  grid-area: headline-3;
  place-self: center;
  font-size: 0.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #fff;
}

.care-detail-1 {
  grid-area: detail-1;
}

.care-detail-2 {
  grid-area: detail-2;
  justify-self: end;
}

.care-detail-3 {
  grid-area: detail-3;
}

.care-detail-4 {
  grid-area: detail-4;
  justify-self: end;
}

.care-detail-5 {
  grid-area: detail-5;
}

.care-detail-6 {
  grid-area: detail-6;
  justify-self: end;
}

.care-detail-7 {
  grid-area: detail-7;
}

.care-detail-8 {
  grid-area: detail-8;
  justify-self: end;
}

.care-detail-9 {
  grid-area: detail-9;
}

.care-detail-10 {
  grid-area: detail-10;
  justify-self: end;
}

.care-detail-11 {
  grid-area: detail-11;
}

.care-detail-12 {
  grid-area: detail-12;
  justify-self: end;
}

.care-detail-13 {
  grid-area: detail-13;
}

.care-detail-14 {
  grid-area: detail-14;
  justify-self: end;
}

.care-detail-15 {
  grid-area: detail-15;
}

.care-detail-16 {
  grid-area: detail-16;
  justify-self: end;
}

.care-detail-17 {
  grid-area: detail-17;
}

.care-detail-18 {
  grid-area: detail-18;
  justify-self: end;
}

.care-detail-19 {
  grid-area: detail-19;
}

.care-detail-20 {
  grid-area: detail-20;
  justify-self: end;
}

.care-detail-21 {
  grid-area: detail-21;
}

.care-detail-22 {
  grid-area: detail-22;
  justify-self: end;
}

.care-detail-23 {
  grid-area: detail-23;
}

.care-detail-24 {
  grid-area: detail-24;
  justify-self: end;
}

.care-detail-25 {
  grid-area: detail-25;
}

.care-detail-26 {
  grid-area: detail-26;
  justify-self: end;
}

.care-detail-27 {
  grid-area: detail-27;
}

.care-detail-28 {
  grid-area: detail-28;
  justify-self: end;
}

/* GENERAL STYLING */

.main-prices {
  padding: 1em 0 5em 0;
  align-items: center;
}

/* STYLING GRID */

.container-prices {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
}

/* .intro-prices h1 {
  font-family: "Dancing Script", cursive;
  color: #b59b87;
  font-size: 5em;
  font-weight: lighter;
  margin: 0;
  padding: 0;
} */

.main-prices h1 {
  padding-bottom: 3em;
  text-align: center;
}

.main-prices h2 {
  font-family: 'Ruthie', cursive;
  font-size: 2.5rem;
  color: #b59b87;
  letter-spacing: 0.2rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
}

.main-prices h3 {
  padding-top: 0;
  padding-bottom: 0.2em;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.main-prices p {
  padding-bottom: 2em;
  font-weight: lighter;
  font-size: 0.8rem;
  /* color: rgb(156, 154, 154); */
}

.h2-cut {
  padding-bottom: 0;
}

.small,
.span {
  font-size: 0.5rem;
}

.thin {
  font-weight: lighter;
}

.kleingedruckt {
  font-size: 0.5rem;
  padding-bottom: 1em;
}

.euro {
  font-size: 0.8rem;
}

.cut,
.calligraphy,
.next-generation,
.color,
.henne,
.highlights,
.balayage,
.styling,
.treatment,
.care {
  padding-bottom: 3em;
}