@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

/* GENERAL */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 5em 15em;
  padding: 0;
  border: 1px solid #b59b87;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
}

h1,
h2,
h3 {
  color: #756d6d;
  padding-top: 1.5em;
  padding-bottom: 0.2em;
  font-weight: 600;
  margin: 0;
}

p,
div {
  color: #8d8d8d;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}


/* LAYOUT */

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 1020px;
  margin: 0 auto;
}


/* NAVIGATION BAR */

/* .nav {
  background: #b59b87;
}

.nav__bar {
  justify-content: space-between;
}

.nav__list {
  margin: 0;
  padding: 1em 0;
  list-style: none;
}

.nav__item+.nav__item {
  margin-left: 1.5em;
}

.nav__link {
  color: #fff;
  text-decoration: none;
}

.logo-nav {
  width: 4.5em;
} */


/* NAVIGATION BAR HELL */

.nav {
  background: #fff;
}

.nav__bar {
  align-items: center;
  padding: 4em 0;
}

.nav__list {
  margin: 0;
  padding: 4em 0;
  list-style: none;
}

.nav__item+.nav__item {
  margin-left: 1.5em;
}

.nav__item,
.nav__item:link,
.nav__item:visited {
  color: #b59b87;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__item:hover,
.nav__item:active {
  color: #a1826a;
  text-decoration: underline;
}

.nav-text {
  font-size: 0.8em;
  padding-top: 2em;
}

.logo-nav {
  width: 6em;
}



/* FOOTER */

.footer {
  /* background: #b59b87; */
}

.footer__container {
  border-top: 1px solid #b59b87;
  padding: 5em 0;
}

.footer__item+.footer__item {
  margin-left: 1.5em;
}

.footer-text {
  /* color: #fff; */
}

.footer__item {
  padding: 0;
  margin: 0;
}

.service,
.social__links,
.legal__links {
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.social__link,
.legal__link {
  text-decoration: none;
  text-transform: uppercase;
}

.copyright {
  font-size: 0.7rem;
  padding-top: 1em;
}


/* BUTTONS */

.btn--termin {
  background: #b59b87;
  padding: 0.75em 1.5em;
  border: 1px solid #b59b87;
  border-radius: 60em;
  color: #fff;
  text-decoration: none;
  box-shadow: 2px 2px 10px 0px rgb(209, 208, 208);
  margin: 0 0.5em;
}

.btn--termin:hover,
.btn--termin:active {
  background: #a1826a;
  color: #fff;
  box-shadow: 2px 2px 10px 2px rgb(209, 208, 208);
}

.btn--kontakt {
  padding: 0.75em 1.5em;
  border: 1px solid #b59b87;
  border-radius: 60em;
  color: #b59b87;
  text-decoration: none;
  box-shadow: 2px 2px 10px 0px rgb(209, 208, 208);
  margin: 0.5em 0;
}

.btn--kontakt:hover,
.btn--kontakt:active {
  background: #b59b87;
  color: #fff;
  box-shadow: 2px 2px 10px 2px rgb(209, 208, 208);
}