@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: #756d6d;
}

p,
div {
  color: #8d8d8d;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 1020px;
  margin: 0 auto;
}

.nav {
  background: #b59b87;
}

.nav__list {
  margin: 0;
  padding: 1em 0;
  list-style: none;
}

.nav__item+.nav__item {
  margin-left: 1.5em;
}

.nav__link {
  color: #fff;
  text-decoration: none;
}

.footer {
  background: #b59b87;
  color: #fff;
}

.footer__content {
  align-items: center;
}

.social__links,
.legal__links {}

.social__link,
.legal__link {
  text-decoration: none;
}