.euro {
  font-size: 0.8rem;
}


/* CUT */

.cut {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row: 1em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8";
}

.cut-headline-1 {
  grid-area: headline-1;
}

.cut-headline-2 {
  grid-area: headline-2;
}

.cut-headline-3 {
  grid-area: headline-3;
}

.cut-detail-1 {
  grid-area: detail-1;
}

.cut-detail-2 {
  grid-area: detail-2;
}

.cut-detail-3 {
  grid-area: detail-3;
}

.cut-detail-4 {
  grid-area: detail-4;
}

.cut-detail-5 {
  grid-area: detail-5;
}

.cut-detail-6 {
  grid-area: detail-6;
}

.cut-detail-7 {
  grid-area: detail-7;
}

.cut-detail-8 {
  grid-area: detail-8;
}


/* CALLIGRAPHY */

.calligraphy {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row: 1em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4";
}

.calligraphy-headline-1 {
  grid-area: headline-1;
}

.calligraphy-headline-2 {
  grid-area: headline-2;
}

.calligraphy-headline-3 {
  grid-area: headline-3;
}

.calligraphy-detail-1 {
  grid-area: detail-1;
}

.calligraphy-detail-2 {
  grid-area: detail-2;
}

.calligraphy-detail-3 {
  grid-area: detail-3;
}

.calligraphy-detail-4 {
  grid-area: detail-4;
}


/* NEXT GENERATION */

.next-generation {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row: 1em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4";
}

.next-generation-headline-1 {
  grid-area: headline-1;
}

.next-generation-headline-2 {
  grid-area: headline-2;
}

.next-generation-headline-3 {
  grid-area: headline-3;
}

.next-generation-detail-1 {
  grid-area: detail-1;
}

.next-generation-detail-2 {
  grid-area: detail-2;
}

.next-generation-detail-3 {
  grid-area: detail-3;
}

.next-generation-detail-4 {
  grid-area: detail-4;
}


/* COLOR */

.color {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row: 1em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12"
    "detail-13 detail-14 detail-15 detail-16";
}

.color-headline-1 {
  grid-area: headline-1;
}

.color-headline-2 {
  grid-area: headline-2;
}

.color-headline-3 {
  grid-area: headline-3;
}

.color-detail-1 {
  grid-area: detail-1;
}

.color-detail-2 {
  grid-area: detail-2;
}

.color-detail-3 {
  grid-area: detail-3;
}

.color-detail-4 {
  grid-area: detail-4;
}

.color-detail-5 {
  grid-area: detail-5;
}

.color-detail-6 {
  grid-area: detail-6;
}

.color-detail-7 {
  grid-area: detail-7;
}

.color-detail-8 {
  grid-area: detail-8;
}

.color-detail-9 {
  grid-area: detail-9;
}

.color-detail-10 {
  grid-area: detail-10;
}

.color-detail-11 {
  grid-area: detail-11;
}

.color-detail-12 {
  grid-area: detail-12;
}

.color-detail-13 {
  grid-area: detail-13;
}

.color-detail-14 {
  grid-area: detail-14;
}

.color-detail-15 {
  grid-area: detail-15;
}

.color-detail-16 {
  grid-area: detail-16;
}


/* HENNE */

.henne {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row: 1em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4";
}

.henne-headline-1 {
  grid-area: headline-1;
}

.henne-headline-2 {
  grid-area: headline-2;
}

.henne-headline-3 {
  grid-area: headline-3;
}

.henne-detail-1 {
  grid-area: detail-1;
}

.henne-detail-2 {
  grid-area: detail-2;
}

.henne-detail-3 {
  grid-area: detail-3;
}

.henne-detail-4 {
  grid-area: detail-4;
}


/* HIGHLIGHTS */

.highlights {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row: 1em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12";
}

.highlights-headline-1 {
  grid-area: headline-1;
}

.highlights-headline-2 {
  grid-area: headline-2;
}

.highlights-headline-3 {
  grid-area: headline-3;
}

.highlights-detail-1 {
  grid-area: detail-1;
}

.highlights-detail-2 {
  grid-area: detail-2;
}

.highlights-detail-3 {
  grid-area: detail-3;
}

.highlights-detail-4 {
  grid-area: detail-4;
}

.highlights-detail-5 {
  grid-area: detail-5;
}

.highlights-detail-6 {
  grid-area: detail-6;
}

.highlights-detail-7 {
  grid-area: detail-7;
}

.highlights-detail-8 {
  grid-area: detail-8;
}

.highlights-detail-9 {
  grid-area: detail-9;
}

.highlights-detail-10 {
  grid-area: detail-10;
}

.highlights-detail-11 {
  grid-area: detail-11;
}

.highlights-detail-12 {
  grid-area: detail-12;
}


/* BALAYAGE */

.balayage {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row: 1em;
  grid-template-areas:
    "... headline-1 headline-2 headline-3"
    "detail-1 detail-2 detail-3 detail-4"
    "detail-5 detail-6 detail-7 detail-8"
    "detail-9 detail-10 detail-11 detail-12";
}

.balayage-headline-1 {
  grid-area: headline-1;
}

.balayage-headline-2 {
  grid-area: headline-2;
}

.balayage-headline-3 {
  grid-area: headline-3;
}

.balayage-detail-1 {
  grid-area: detail-1;
}

.balayage-detail-2 {
  grid-area: detail-2;
}

.balayage-detail-3 {
  grid-area: detail-3;
}

.balayage-detail-4 {
  grid-area: detail-4;
}

.balayage-detail-5 {
  grid-area: detail-5;
}

.balayage-detail-6 {
  grid-area: detail-6;
}

.balayage-detail-7 {
  grid-area: detail-7;
}

.balayage-detail-8 {
  grid-area: detail-8;
}

.balayage-detail-9 {
  grid-area: detail-9;
}

.balayage-detail-10 {
  grid-area: detail-10;
}

.balayage-detail-11 {
  grid-area: detail-11;
}

.balayage-detail-12 {
  grid-area: detail-12;
}