.main-cut {
  background: #f7eee6;
}

.headline {
  padding: 15em 0 0 0;
  position: relative;
  text-align: center;
}

.highlight-intro {
  position: absolute;
  font-family: 'northrowregular';
  font-size: 6rem;
  font-weight: bold;
  color: rgba(204, 175, 175, 0.6);
  text-transform: uppercase;
  top: 50%;
  left: 0%;
  width: 100%;
  display: block;
}

.content-cut {
  padding-top: 2.5em;
  text-align: center;
}

.content-cut p {
  padding-bottom: 1em;
}

.slideshow-testimonials-cut {
  padding: 8em 0;
}