/* INTRO */

.main-blog {
  background: #f7eee6;
  position: relative;
  /* padding: 0em 0 10em 0; */
}

.main-blog h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 100;
  padding: 5em 0 4em 0;
}

.highlight-intro {
  position: absolute;
  font-family: 'northrowregular';
  font-size: 6rem;
  font-weight: bold;
  color: rgba(204, 175, 175, 0.6);
  text-transform: capitalize;
  top: 8%;
  right: -12%;
  width: 100%;
  display: block;
}

.intro-ji {
  background-image: url(../../Images/Produkte/JaneIredale/JaneIredaleProducts.jpg);
  background-position: 20% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  /* margin-bottom: 0.5em; */
}

.intro-ji__content {
  padding: 5em 2em 5em 20%;
}

.intro-ji__content p {
  line-height: 160%;
  margin-bottom: 1em;
}

.lower-letters {
  text-transform: lowercase;
}

.highlight-ns {
  position: absolute;
  font-family: 'northrowregular';
  font-size: 5.5rem;
  color: rgba(204, 175, 175, 0.6);
  text-transform: capitalize;
  top: 20%;
  right: -46%;
  width: 100%;
  display: block;
}

/* CLEAN BEAUTY */

.clean-beauty {
  background: #f0ede9;
  height: 100vh;
  width: 100vw;
  margin-bottom: 0.5em;
}

.clean-beauty__content {
  align-self: center;
}

.highlight-cb {
  position: absolute;
  font-family: 'northrowregular';
  font-size: 5.5rem;
  color: rgba(204, 175, 175, 0.6);
  text-transform: capitalize;
  top: 49.5%;
  right: -4%;
  width: 100%;
  display: block;
}

.clean-beauty__content h2 {
  font-size: 2em;
  text-align: center;
  padding: 0 0 1em 0;
}

.clean-beauty__list p {
  font-size: 0.95rem;
  line-height: 1.5em;
  height: auto;
  padding-bottom: 1em;
}

.clean-beauty__list {
  list-style: none;
  padding: 0;
  margin: 0 auto 2em auto;
}

.clean-icons__list {
  text-align: center;
}

.clean-icons__list img {
  display: inline-block;
  width: 20%;
}


/* SLIDESHOW */

.slideshow-testimonials-organic-products {
  height: 90vh;
  background: #f7eee6;
}

.slideshow-testimonials-organic-products h2 {
  padding-top: 13%;
}

/* FOOTER */

.footer {
  background: #ad9d9d;
}


/* MEDIA QUERIES */

@media (min-width: 600px) {}

@media (min-width: 900px) {}

@media (min-width: 1200px) {

  .intro-ji {
    display: flex;
  }

  .leer {
    width: 80%;
    justify-content: center;
    align-self: center;
  }

  .intro-ji__content {
    padding: 14em 10em 0 48%;
  }

  .intro-ji__content h1 {
    margin: 0;
    padding: 0;
  }

  .intro-ji__content h2 {
    margin: 0 0 2em 0;
    padding: 0;
  }

  .clean-beauty__content {
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 6em 0 0 6em;
  }

  .clean-beauty__content h2 {
    text-align: left;
    margin: 0 0 0 0;
    padding: 0;
  }

  .clean-beauty__content h3 {
    text-align: left;
    margin: 0 0 3em 0;
    padding: 0;
  }

  .clean-icons__list {
    margin-top: 13em;
    width: 90%;
  }

  /* 
  .clean-icons__list {
    padding: 10em;
    display: grid;
    grid-template-columns: 3 repeat(1fr);
    grid-template-rows: 3 repeat(1fr);
    column-gap: 2em;
    grid-template-areas: "clean-icons__item clean-icons__item clean-icons__item"
      "clean-icons__item clean-icons__item clean-icons__item"
      "clean-icons__item clean-icons__item clean-icons__item";
  }

  .clean-icons__item {
    justify-self: center;
    align-self: center;
    padding: 2em;
    outline: 0.5em solid #ffffff;
  } */

}

@media (min-width: 1800px) {}