/* HEADLINE */

.headline-pm {
  background: #f7eee6;
}

.headline-pm h1 {
  text-align: center;
  padding: 5em 0 4em 0;
  font-size: 3em;
  font-weight: 100;
}

.highlight-intro-pm {
  position: absolute;
  font-family: 'northrowregular';
  font-size: 6rem;
  font-weight: bold;
  color: rgba(204, 175, 175, 0.6);
  text-transform: uppercase;
  top: 26.5%;
  right: -18%;
  width: 100%;
  display: block;
}

/* HERO */

.hero-pm {
  background: url("../../Images/Produkte/01-08-16_Philip\ Martin\'s_0067_fondo\ modificato_klein\(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  margin: 0;
}

/* HEADLINE MAIN CONTENT */

.headline__main-content-pm {
  background: #f7eee6;
  padding: 12em 0 4em 0;
  text-align: center;
  position: relative;
}

.highlight-ns-pm {
  position: absolute;
  font-family: 'northrowregular';
  font-size: 5.5rem;
  color: rgba(204, 175, 175, 0.6);
  text-transform: capitalize;
  top: 42%;
  right: 0%;
  width: 100%;
  display: block;
}


/* MAIN CONTENT */

.main-content-pm {
  background: #f7eee6;
  justify-content: space-around;
}

.text-block-1 {
  width: 50%;
  margin: 0 2.5em 10em 15em;
}

.text-block-2 {
  width: 50%;
  margin: 0 15em 0 2.5em;
}

.text-block-paragraph {
  text-align: justify;
}

/* .text-block-paragraph+.text-block-paragraph {
  margin-top: 1em;
} */


/* INGREDIENTS */

.main-ingredients-pm {
  background: #f0ede9;
  padding: 13em 0 8em 10%;
  text-align: left;
  position: relative;
  justify-content: space-evenly;
}

.highlight-is-pm {
  position: absolute;
  font-family: 'northrowregular';
  font-size: 5.5rem;
  /* font-weight: bolder; */
  color: rgba(204, 175, 175, 0.6);
  /* text-transform: uppercase; */
  top: 10%;
  right: -8%;
  width: 100%;
  display: block;
}

.main-ingredients h2 {
  margin-bottom: 1em;
}

ul .bold {
  font-size: 1.5rem;
  /* font-weight: bold; */
  padding-bottom: 2em;
}

.ingredients-pm {
  list-style: none;
  padding: 0;
}

.ingredients_item {
  font-size: 0.9rem;
  line-height: 2rem;
}


/* FREE */

.circle {
  background: rgba(204, 175, 175, 0.6);
  border-radius: 50%;
  height: 60vh;
  width: 35vw;
  margin: 3% 10% 0 0;
}

.headline-frei {
  padding: 0 1em 0 0;
  /* margin-bottom: 0.5em; */
}

.headline-frei h2 {
  text-align: center;
  font-weight: bold;
  padding: 2em 0 0em 0;
}

.headline-frei p {
  text-align: center;
  margin-bottom: 1.2em;
  padding: 0 -4em 0 0;
}

.small,
.span {
  font-size: 0.8rem;
  text-align: center;
}

.klein,
.span {
  text-transform: lowercase;
}

.free {
  list-style: none;
}

.free_item {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  padding: 0 2.5em 0 0;
}


/* SLIDESHOW */

.slideshow-testimonials-organic-products-pm {
  height: 100vh;
  background: #f7eee6;
  padding: 15em 0 14em 0;
}


/* FOOTER */

.footer {
  background: #ad9d9d;
}



/* MEDIAQUERIES */

@media (min-width: 600px) {}

@media (min-width: 900px) {
  .hero-pm img {
    width: 55%;
  }

  #img-pm {
    float: left;
    width: 50%;
    height: auto;
    shape-outside: url("../../Images/Produkte/01-08-16_Philip Martin's_0067_fondo modificato_klein(1).jpg");
    margin: 0em 3em 2em 0;
  }

  .text-block-2 {
    padding: 0 0 1em 0;
  }
}

@media (min-width: 1200px) {}

@media (min-width: 1800px) {}