/* MAIN TEXT */

.main-content-pm h1 {
  text-align: center;
  margin-bottom: 2em;
}

.text-block-1 {
  padding-bottom: 2em;
}

.text-block-2 {
  padding: 2em 0 1em 0;
}

.text-block-paragraph+.text-block-paragraph {
  margin-top: 1em;
}

/* .text-block-3 {
  float: right;
  width: 40%;
  margin: 0;
  shape-outside: circle();
} */

/* FREE */

.circle {
  float: right;
  width: 40%;
  height: 40%;
  margin: 0;
  shape-outside: circle(50% at 20%);
  clip-path: circle(50% at 0%);
  background: #d3b7a7;
}

.free_item {
  /* color: #ffffff; */
  font-size: 0.7rem;
  line-height: 1.5rem;
}

.free {
  list-style: none;
  padding: 0;
  text-align: right;
  margin-top: 6em;
  padding-right: 2em;
}

.headline-frei {
  padding-right: 2em;
  margin-bottom: 0.5em;
}

.headline-frei p {
  text-align: right;
  margin-bottom: 10em;
  padding-right: 0;
}

.small,
.span {
  font-size: 0.5rem;
  text-align: right;
  padding-right: 2em;
}

.klein,
.span {
  text-transform: lowercase;
}


/* INGREDIENTS */

.main-ingredients h2 {
  margin-bottom: 1em;
}

.ingredients {
  list-style: none;
  padding: 0;
}

.ingredients_item {
  font-size: 0.9rem;
  line-height: 2rem;
}


/* MEDIAQUERIES */

@media (min-width: 600px) {}

@media (min-width: 900px) {
  .hero-pm img {
    width: 55%;
  }

  #img-pm {
    float: left;
    width: 50%;
    height: auto;
    shape-outside: url("../../Images/Produkte/01-08-16_Philip Martin's_0067_fondo modificato_klein(1).jpg");
    margin: 0em 3em 2em 0;
  }

  .text-block-2 {
    padding: 0 0 1em 0;
  }
}

@media (min-width: 1200px) {}

@media (min-width: 1800px) {}