.main-styling {
  background: #f7eee6;
}

.headline {
  padding: 10em 0 10em 0;
  position: relative;
}

.headline h1 {
  text-align: center;
}

.highlight-intro {
  position: absolute;
  font-family: 'northrowregular';
  font-size: 6rem;
  font-weight: bold;
  color: rgba(204, 175, 175, 0.6);
  text-transform: uppercase;
  top: 52%;
  left: 35%;
  width: 100%;
  display: block;
}

.content-styling {
  text-align: center;
}

.slideshow-testimonials-styling {
  padding: 8em 0;
}