.main-styling {
  background: #f7eee6;
  padding: 4em 0 3em 0;
}

.headline {
  padding: 8em 0 6em 0;
  position: relative;
}

.headline h1 {
  text-align: center;
  font-size: 4rem;
}

.ill {
  font-size: 6rem;
  font-stretch: ultra-condensed;
  color: rgb(2, 158, 175);
}

.highlight-intro {
  position: absolute;
  font-family: "northrowregular";
  font-size: 6rem;
  font-weight: bold;
  color: rgba(204, 175, 175, 0.6);
  text-transform: uppercase;
  top: 68%;
  left: 20%;
  width: 100%;
  display: block;
}

.content-styling {
  text-align: center;
  padding: 4em 0 0 0;
}

.content-styling h2 {
  padding: 4em 0 1em 0;
}

.slideshow-testimonials-styling {
  padding: 8em 0;
}

/* MAKEUP */

.main-make-up {
  background: #f7eee6;
}

.headline {
  padding: 18em 0 0 0;
  position: relative;
}

.headline h1 {
  text-align: center;
}

.highlight-intro {
  position: absolute;
  font-family: "northrowregular";
  font-size: 6rem;
  font-weight: bold;
  color: rgba(204, 175, 175, 0.6);
  text-transform: uppercase;
  top: 55%;
  left: 37%;
  width: 100%;
  display: block;
}

.content-make-up {
  text-align: center;
  padding-top: 5em;
}

.content-make-up p {
  padding-bottom: 1em;
}

.comment {
  padding-top: 2em;
  font-size: 0.1rem;
}

.slideshow-testimonials-make-up {
  padding: 8em 0;
}
