.main-wedding {
  background: #f7eee6;
}

.headline {
  padding: 15em 0 0 0;
  position: relative;
}

.headline h1 {
  text-align: center;
}

.highlight-intro {
  position: absolute;
  font-family: "northrowregular";
  font-size: 6rem;
  font-weight: bold;
  color: rgba(204, 175, 175, 0.6);
  text-transform: uppercase;
  top: 45%;
  left: 38%;
  width: 100%;
  display: block;
}

.content-wedding {
  text-align: center;
  padding: 3.5em 0 0 0;
}

.intro {
  padding-bottom: 5em;
}

h3 {
  padding: 0;
  margin: 0;
}

.ill {
  /* font-size: 2rem; */
  font-weight: bold;
  color: rgba(204, 175, 175, 0.6);
}

.left-align {
  text-align: left;
  margin: 0 auto;
}

.content-wedding p {
  padding-bottom: 1em;
}

.slideshow-testimonials-wedding {
  padding: 8em 0;
}

.cta {
  padding: 4em 0 0em 0;
}

.cta p {
  padding-bottom: 3em;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.cta__btn {
  background: rgb(2, 158, 175);
  padding: 1.5em 2em;
  border: 1px solid rgb(2, 158, 175);
}
